h1{
    color: hotpink;
    text-align: center;
    font-family: Georgia, sans-serif;
    font-size: 4em;
    letter-spacing: -2px;
}

table {
    width: 40%;
    text-align: center;
    border-collapse:separate;
    border:solid beige 2px;
    border-radius:6px;
    -moz-border-radius:6px;
    position: absolute;
    left: 30%;
    top: 20%;
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
    background-color: white;
}

th {
    background-color: beige;
    border-top: none;
}

td:first-child, th:first-child {
    border-left: none;
}

.addbutton{
    display: inline-block;
    padding: 1px;
    width: 120px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #727272;
}

.addbutton:hover {
    background-color: #3e8e41}


.deletebutton{
    display: inline-block;
    padding: 1px;
    width: 80px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #d73333;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #727272;
}

.deletebutton:hover {background-color: #af2a2a
}


.editbutton{
    display: inline-block;
    margin: 0px;
    padding: 1px;
    width: 80px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2eb8ef;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #727272;
}

.editbutton:hover {
    background-color: #2799c7
}